body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131921;
  padding: 10px;
}

nav img {
  height: 40px;
}

.browse-content {
  padding: 20px 15px;
  margin: 0 auto;
}

.header-section {
  margin-bottom: 10px;
}

.header-section h1 {
  margin: 0;
  font-size: 30px;
}

.item-count {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: #000;
}

.product-info {
  margin-top: 20px;
  font-size: 13px;
  color: #000;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.product-card {
  width: 250px;
  height: 380px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.product-card a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.product-card img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  display: block;
  margin: 5px auto 0;
  transition: transform 0.2s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card img:active {
  transform: scale(0.95);
}

.product-card h3 {
  font-size: 16px;
  width: 100%;
  transition: color 0.2s ease;
  margin-top: 15px;
  margin-bottom: 0px;
}

.product-card:hover h3 {
  color: rgb(222, 121, 38);
}

.product-card .stars {
  display: flex;
  margin-top: 0px;
}

.product-card .star-svg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.product-card .price {
  font-size: 13px;
  color: #000;
  width: 100%;
  margin-top: 10px;
}

.product-card .original-price {
  text-decoration: line-through;
  color: black;
}

.product-card .discounted-price {
  color: black;
  margin-left: 10px;
}